.combobox {
    margin: 40vh auto;
    width: 275px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 5px;
    overflow: hidden;
}

.input-wrapper {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E8E8E8;
    color: #696969;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.input:focus {
    outline: none;
}

ion-icon {
    display: inline-block;
    margin-left: -35px;
}

input {
    border: none;
    background-color: #E8E8E8;
    min-height: 40px;
    width: 275px;
    padding-left: 10px;
    border-radius: 5px;
    border-bottom: 1px solid aliceblue;
}

.select-items-list {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-left: 0;
    margin: 5px 0 0;
}

li {
    display: flex;
    width: 100%;
    list-style: none;
    font-weight: 700;
    padding: 10px;
    font-size: 13px;
}

li:hover, li.active {
    background-color: aliceblue;
}

.select-item {
    margin-left: 5px;
}